

@font-face {
    font-family: 'AvenirBold';
    src: url('../css/fontawesome-free/webfonts/AvenirBold.ttf') format('woff2'),    
         url('../css/fontawesome-free/webfonts/AvenirBold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AvenirLight';
    src: url('../css/fontawesome-free/webfonts/AvenirLight.ttf') format('woff2'),    
         url('../css/fontawesome-free/webfonts/AvenirLight.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}


.mainBody{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




.NavmainWrapper{
    background-color: black;
    padding: 15px 0px;
}

.navbarWrapper{
    display: flex;
}

.NavLogoWarpper{
    display: flex;
    align-items: center;
    width: 40%;
}
.navlogoSocial-wrapper ul{
    display: flex;
    padding-left: 0px;
    margin-bottom: 0px;
}
.navlogoSocial-wrapper ul li{
    list-style: none;
    padding-right: 15px;
}
.navlogoSocial-wrapper ul li a{
    text-decoration: none;
}
.navlogoSocial-wrapper ul li a i{
    color: #fff;
    font-size: 20px;
}
.navLogo a img{
    height: 93px;
    width: 93px;
}
.navlogoSocial-wrapper p{
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0px;
    font-family: 'AvenirLight';
}
.navlogoSocial-wrapper {
    padding-left: 10px;
  }
 .navmenuItem .nav-item a {
    color: #fff;
    text-decoration: none;
    font-family: 'AvenirLight';
  }

.navmenuItem ul li{
    padding: 6px 8px;
}
.navbarmemuWrapper{
    width: 60%;
}

.menulist-profile-btn{
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
}
.Navar-loginButton {
    width: 50%;
    display: flex;
    justify-content: flex-end;
} 

.navSearchbar .btn-outline-success {
    color: #fff;
    border-color: #fff;
  }
.navSearchbar .btn-outline-success:hover{
   background-color: transparent;
  }

.Navar-loginButton button{
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px 8px;
}
.Navar-loginButton button:nth-child(1){
    margin-right: 8px;
}


.BannerWrapper{
    padding: 60px 0px;
}

.FooterWrapper{
    padding: 50px 0px;
    background-color: #000;
    text-align: center;
}
.FooterWrapper h1{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 40px;
}
.FooterWrapper p{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.FooterWrapper a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.FooterWrapper ul{
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin: 10px 0px;
}
.FooterWrapper ul li{
    list-style: none;
    padding: 8px 10px;
}

.FooterWrapper ul li a{
    text-decoration: none;
}
.FooterWrapper ul li a i{
    font-size: 20px;
    color: #fff;
}


.DuplicateMenuList ul li{
    padding: 11px 10px;
    width: 200px;
    border: 1px solid #fff;
    text-align: start;
    background-color: #000;
    margin: 5px 0px;
    list-style: none;
    cursor: pointer;
    font-family: 'AvenirLight';
}

.DuplicateMenuList ul li:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.4;
    border: 1px solid rgb(0, 0, 0);
}

.DuplicateMenuList ul li:hover a{
    color: #000;
}
.DuplicateMenuList ul li a{
    /* text-transform: capitalize; */
    color: #fff;
    font-size: 28px;
    text-decoration: none;
}

.SubcategoryWrapper ul li{
    padding: 11px 10px;
    width: 200px;
    border: 1px solid #fff;
    text-align: end;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5px 0px;
    list-style: none;
    cursor: pointer;
}




.SubcategoryWrapper{
    position: relative;
}
.DuplicateMenuList ul li ul{
    display: none;
    padding-left: 10px;
}
/* .DuplicateMenuList ul li :hover ul{
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
} */
.SubcategoryWrapper:hover ul {
    display: block;
    position: absolute;
    left: 100%;
    bottom: 0%;
  }

.BannerMainLogo img{
    max-width: 100%;
}




.BannerMainLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
















@media(max-width:992px){
    .navbarWrapper{
        display: block;
        position: relative;
    }
    .navbarmemuWrapper{
        width: 100%;
    }
    
    .NavLogoWarpper{
        width: 100%;
    }
    .navbar-toggler {
        position: absolute;
        right: 0;
        top: 20px;
        border: 1px solid #fff;
        height: 50px;
        width: 50px;
        padding: 0px 0px;
      }

      .navbar-toggler span{
          background-image:url(../images/download.png);
          height: 28px;
          width: 28px;
      }
      .Navar-loginButton {
        width: 50%;
        display: flex;
        justify-content: flex-start;
      }

      .navmenuItem ul li {
        padding: 10px 8px;
      }
      .Search-ItemListWrapper{
          padding: 30px 0px;
      }
      .DuplicateMenuList{
          display: none;
      }
}

@media(max-width:768px){
    
    .navLogo a img {
        height: 80px;
        width: 80px;
      }
}
